<style type="text/css">
.bullet
{
    COLOR: black
}
A.Link:visited
{
    FONT-SIZE: 11pt;
    TEXT-DECORATION: none
}
A.Link:link
{
    FONT-SIZE: 11pt;
    TEXT-DECORATION: none
}
A.Link:hover
{
    FONT-SIZE: 11pt;
    TEXT-DECORATION: none
}
A.LinkPeq:visited
{
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A.LinkPeq:link
{
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A.LinkPeq:hover
{
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
A.LinkMin:visited
{
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A.LinkMin:link
{
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
A.LinkMin:hover
{
    FONT-SIZE: 8pt
}
A.LinkNavega:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    TEXT-DECORATION: none
}
A.LinkNavega:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    TEXT-DECORATION: none
}
A.LinkNavega:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black
}
.MenuTit
{
    FONT-SIZE: 18pt;
    COLOR: #000000
}
.MenuSubTit
{
    FONT-SIZE: 20pt;
    COLOR: #000000
}
.Titulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #000066
}
.SubTitulo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #000066
}
.SubTituloAzul
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #000066
}
.CorpoVerm
{
    FONT-SIZE: 10pt;
    COLOR: #990000
}
.CorpoVermPeq
{
    FONT-SIZE: 9pt;
    COLOR: #990000
}
.CorpoVermMin
{
    FONT-SIZE: 8pt;
    COLOR: #990000
}
.CorpoAzul
{
    FONT-SIZE: 10pt;
    COLOR: #000066
}
.CorpoTerra
{
    FONT-SIZE: 10pt;
    COLOR: #800000
}
.CorpoVermelho
{
    FONT-SIZE: 10pt;
    COLOR: #FF0000
}
.CorpoAzulItalico
{
    FONT-SIZE: 10pt;
    COLOR: #000066;
    font-style: italic; 
}
.CorpoTerraItalico
{
    FONT-SIZE: 10pt;
    COLOR: #800000;
    font-style: italic; 
}
.CorpoVermelhoItalico
{
    FONT-SIZE: 10pt;
    COLOR: #FF0000;
    font-style: italic; 
}
.CorpoAzulPeq
{
    FONT-SIZE: 9pt;
    COLOR: #000066
}
.CorpoAzulMin
{
    FONT-SIZE: 8pt;
    COLOR: #000066
}
.CorpoPretBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000
}
.CorpoPret
{
    FONT-SIZE: 10pt;
    COLOR: #000000
}
.CorpoPretPeq
{
    FONT-SIZE: 9pt;
    COLOR: #000000
}
.CorpoPretMin
{
    FONT-SIZE: 8pt;
    COLOR: #000000
}
.CorpoPretSupMin
{
    FONT-SIZE: 6pt;
    COLOR: #000000
}
.CorpoBran
{
    FONT-SIZE: 10pt;
    COLOR: #ffffff
}
.CorpoBranPeq
{
    FONT-SIZE: 9pt;
    COLOR: #ffffff
}
.CorpoBranMin
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff
}
.TitRel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000066
}
.TitRelTerra
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #800000
}
.TitRelVermelho
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #FF0000
}
SELECT
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Courier New;
    BACKGROUND-COLOR: #FFFFFF
}
SELECT.List
{
    FONT-SIZE: 11px;
    WIDTH: 550px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 120px
}
SELECT.ListMun
{
    FONT-SIZE: 10px;
    WIDTH: 230px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 60px
}
SELECT.Combo
{
    FONT-SIZE: 11px;
    WIDTH: 60px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 18px
}
SELECT.ComboMun
{
    FONT-SIZE: 11px;
    WIDTH: 300px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 18px
}
SELECT.Combo2c
{
    FONT-SIZE: 11px;
    WIDTH: 40px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 18px
}
SELECT.Combo4c
{
    FONT-SIZE: 11px;
    WIDTH: 55px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 18px
}
SELECT.Combo20c
{
    FONT-SIZE: 11px;
    WIDTH: 140px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 18px
}
SELECT.Combo40c
{
    FONT-SIZE: 11px;
    WIDTH: 280px;
    FONT-FAMILY: Tahoma;
    HEIGHT: 18px
}
BODY
{
    SCROLLBAR-FACE-COLOR: #FFFFFF;
    SCROLLBAR-SHADOW-COLOR: #FFFFFF;
    SCROLLBAR-3DLIGHT-COLOR: #000000;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #000000;
    SCROLLBAR-DARKSHADOW-COLOR: #000000;
    BACKGROUND-COLOR: #FFFFFF
}
INPUT
{
    FONT-SIZE: 8pt;
    WIDTH: 65px;
    FONT-FAMILY: Verdana;
    HEIGHT: 19px
}
INPUT.radio
{
    FONT-SIZE: 11px;
    WIDTH: 20px;
    COLOR: #004d39;
    FONT-FAMILY: Tahoma;
    HEIGHT: 19px
}
INPUT.campo3c
{
    FONT-SIZE: 11px;
    WIDTH: 30px;
    COLOR: #004d39;
    HEIGHT: 19px
}
INPUT.campo10c
{
    FONT-SIZE: 11px;
    WIDTH: 90px;
    COLOR: #004d39;
    FONT-FAMILY: Tahoma;
    HEIGHT: 19px
}
INPUT.campo11c
{
    FONT-SIZE: 11px;
    WIDTH: 100px;
    COLOR: #004d39;
    FONT-FAMILY: Tahoma;
    HEIGHT: 19px
}
INPUT.campo30c
{
    FONT-SIZE: 11px;
    WIDTH: 250px;
    COLOR: #004d39;
    FONT-FAMILY: Tahoma;
    HEIGHT: 19px
}
INPUT.campo40c
{
    FONT-SIZE: 11px;
    WIDTH: 300px;
    COLOR: #004d39;
    FONT-FAMILY: Tahoma;
    HEIGHT: 19px
}
INPUT.campo50c
{
    FONT-SIZE: 11px;
    WIDTH: 360px;
    COLOR: #004d39;
    FONT-FAMILY: Tahoma;
    HEIGHT: 19px
}
TD.TabTitulo
{
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-COLLAPSE: collapse
}
TD.TabCorpo
{
    BORDER-RIGHT: #696969 1px solid;
    BORDER-TOP: #696969 1px solid;
    BORDER-LEFT: #696969 1px solid;
    BORDER-BOTTOM: #696969 1px solid;
    BORDER-COLLAPSE: collapse
}
TD.TabCorpoDas
{
    BORDER-RIGHT: #696969 1px dashed;
    BORDER-TOP: #696969 1px dashed;
    BORDER-LEFT: #696969 1px dashed;
    BORDER-BOTTOM: #696969 1px dashed;
    BORDER-COLLAPSE: collapse
}
P.quebra
{
    PAGE-BREAK-BEFORE: always
}
.barra
{
    BACKGROUND-IMAGE: none;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: mediumblue
}
</style>
