#dados_pac{
  padding-bottom: 5px !important;
}

ul{
  padding: 0;
  margin:10px 0 0 0;
  list-style: none;
}

table{
  border-collapse: collapse;
  width: 100%
}

table tr:hover{
  background-color: #EEE;
}

table tr th{
  border: 1px solid;
  padding: 4px 2px;
}

table tr td{
  border: 1px dotted;
  padding: 2px 5px;
  font-size: 0.75em;
}

/* Relatorio modo ficha */
#medico{
  border-top: 1px solid #000;
  width: 250px;
  margin: 50px auto 0 auto;
  text-align: center;
}

#medico h2{
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#medico h3{
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-weight: none; 
}

.font-mais-grande tr td{
	font-size: 1.1em;
}