.faixa {
	border-color:#FFFFFF;
	background-color:#DFDFDF;
	font:Verdana, Geneva, sans-serif;
	height:20px;
	border:2px;
	padding:4px;
}
tr.par{
	background-color: #999;
}
tr.impar{
	background-color:#C5C5C5;
}
tr.parSobre{
	background-color:#9EC4D8;
}
tr.imparSobre{
	background-color:#9EC4D8;
}