

thead { display: table-header-group; }
tfoot { display: table-footer-group; } 

table thead tr td{
    border:#FFFFFF 0px;
}

table tfoot tr td{
    border:#FFFFFF 0px;
}

table{
  border-collapse: collapse;
  width: 100%
}

table tr:hover{
  background-color: #EEE;
}

table tr th{
  border: 1px solid;
  padding: 4px 2px;
}

table tr td{
  border: 1px solid;
  padding: 2px 5px;
  font-size: 0.75em;
  height: 50px
}

#rep_federativa{
    height: 110px;
    width: 100px;
    float: left;
}

#ministerio{
    float: left;
    height: 110px;
    width: auto;
    font-family: sans-serif;
}
/*table {
    border:solid #000 !important;
    border-width:1px 0 0 1px !important;
}
th, td {
    border:solid #000 !important;
    border-width:0 1px 1px 0 !important;
}*/

#div_cabecalho{
    border:solid #000 !important;
    border-width:2px 2px 2px 2px !important;
    heigth:auto;
    width: 100%;
    font-family: sans-serif;
}

#identificacao_estabelecimento{
    margin: 0px 15px 15px 15px;
    border:solid #000 !important;
    border-width:2px 2px 2px 2px !important;
    height: 140px;
    font-family: sans-serif;
}

#brasao{
    width:110px;
    float: left;
    margin: 15px 0px 0px 10px;
    height: 110px;
}

#dados_sec{
    width: 250px;
    float: left;
    margin: 15px 0px 0px 10px;
    height: 110px;
}


#outros_dados_sec{
    width: 40%;
    float: left;
    border:1px solid;
}

#identificacao_formulario{
    margin: 0px 15px 15px 15px;
    border:solid #000 !important;
    border-width:2px 2px 2px 2px !important;
    height: 80px;
    font-family: sans-serif;
}

#dados_form{
    margin: 15px 0px 0px 10px;
    font-size: 15px;
}

#identificacao_responsavel{
    margin: 0px 15px 15px 15px;
    border:solid #000 !important;
    border-width:2px 2px 2px 2px !important;
    height: 80px;
    font-family: sans-serif;
}

#identificacao_responsavel_receb{
    margin: 0px 15px 15px 15px;
    border:solid #000 !important;
    border-width:2px 2px 2px 2px !important;
    height: 80px;
    font-family: sans-serif;
}

#field_estab fieldset{
    margin: 15px 15px 15px 15px;
}