form#ficha label {
    padding: 5px!important;
    text-align: left!important;
    font-size: 14px!important;
}


form#ficha input[type="text"] {
    width: 300px!important;
    height: 15px!important;
    padding: 13px!important;
}

form#ficha select {
    width: 188px!important;
    padding: 5px!important;
}

form#ficha input[type="number"]  {
    width: 300px!important;
    padding: 13px!important;
}

p{
    font-weight: bold;
    
}